{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AZURE_COSMOS_CONNECTION_STRING": "",
  "AZURE_COSMOS_DATABASE": "catalogdb",
  "AZURE_REDIS_CONNECTION_STRING":"",
  "PRODUCT_LIST_CACHE_DISABLE":"0",
  "SIMULATED_DB_LATENCY_IN_SECONDS": ""
}
