{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "REDIS_KEY_PRODUCTS_ALL":"products:all",
        "REDIS_CONNECTION_STRING" : "YOUR_REDIS_CNCT_STRING",
        "CATALOG_API_URL": "YOUR_APP_SERVICE_URL"
    }
}